//
//  QA.xcconfig
//  NewAPIBS
//
//  Created by Humayun Kabir on 11/3/25.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

ENVIRONMENT = QA

INFOPLIST_KEY_CFBundleDisplayName = $(ENVIRONMENT)
INFOPLIST_FILE = $(PRODUCT_NAME)/PLIST/$(ENVIRONMENT).plist
PRODUCT_BUNDLE_IDENTIFIER = com.newsapibs.$(ENVIRONMENT)
ASSETCATALOG_COMPILER_APPICON_NAME = AppIcon_${ENVIRONMENT}
